torch==1.12.1
torchvision==0.13.1
albumentations>=1.4.1
attrdict==2.0.1
opencv-python>=4.4.0.44
numpy==1.23.5
pandas>=1.1.2
scikit-learn>=0.0
tqdm==4.50.0
matplotlib>=3.7.1
tensorboard>=2.10.1
onnx>=1.7.0
glog>=0.3.1
pytest>=6.1.0
pylint>=2.6.0
pytest-pylint>=0.17.0
mxnet==1.9.1
gdown==5.1.0
glob2>=0.7
